.ant-form-item {
  margin-bottom: 12px; 
  &-with-help {
    margin-bottom: 0;
  }
  &-label {
    width: 150px;
    label {
      cursor: pointer;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
